.hello-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn-images-1.medium.com%2Fmax%2F2000%2F1*i0qclSPNcjj8cWOPr3wLxg.png&f=1&nofb=1');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  text-align: center;
  margin: 0px;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}